.authorized-page-wrapper {
    width: 100%;
    height: 100%;
}

.authorized-page {
    width: 100%;
    height: 100%;
}

.authorized-page-header-wrapper {
    width: 100%;
    height: 65px;
}

.authorized-page-header {
    width: 100%;
    height: 100%;
}

.tool-bar-title {
    margin-top: 15px;
}

.tool-bar-title > span {
    float: left;
    padding: 5px;
}

.tool-bar-title > h1 {
    padding: 1px;
}

.tool-bar-nav {
    width: 100%;
    height: 100%;
}

.tool-bar-nav-nested-wrapper {
    text-align: center;
    padding-top: 10px;
}

.nav-item > button {
    margin-top: 5px;
}


.authorized-page-main-wrapper {
    width: 100%;
    height: 87%;
}

.authorized-page-main {
    width: 100%;
    height: 100%;
    
}

.authorized-page-main-nested-wrapper {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.main-container {
    width: 100%;
}

.main-paper {
    width: 100%;
}

.main-paper-section-wrapper {
    height: 50%;
}

.main-paper-section {
    padding: 10px;
    width: 100%;
}

.section-title {
    height: 10%;
    width: 100%;
}

.section-content {
    height: 90%;
    width: 100%;
    padding: 5px;
}

.drama-card {
    height: 50%;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.drama-card-img-wrapper {
    grid-column: 1;
    height: 88%;   
}

.drama-card-img {
    height: 100%;
    width: 100%;
}

.drama-card-content-wrapper {
    grid-column: 2;
    height: 100%;
    width: 100%;
}

.drama-card-content-nested-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3);
    grid-gap: 5px;
}

.drama-card-content-nested-wrapper span{
    font-size: 13px;
}

.drama-title {
    grid-row: 1;
}

.drama-title h5 {
    font-size: 12px;
    font-weight: 800;
}

.drama-broadcast-info {
    grid-row: 7;
}

.drama-rating-info {
    grid-row: 8;
}

.drama-subscribe-info {
    grid-row: 9 ;
}


.authorized-page-footer-wrapper {
    width: 100%;
    height: 54px;
    background-color: #c2c4c5;
    border: 1px solid #b3b5b6;
    padding-top: 15px;
}

.authorized-page-footer {
    width: 100%;
    height: 100%;
    text-align: center;
    color: whitesmoke;
}