.authorized-page-wrapper {
    width: 100%;
    height: 100%;
}

.authorized-page {
    width: 100%;
    height: 100%;
}

.authorized-page-header-wrapper {
    width: 100%;
    height: 65px;
}

.authorized-page-header {
    width: 100%;
    height: 100%;
}

.tool-bar-title {
    margin-top: 15px;
}

.tool-bar-title > span {
    float: left;
    padding: 5px;
}

.tool-bar-title > h1 {
    padding: 1px;
}

.tool-bar-nav {
    width: 100%;
    height: 100%;
}

.tool-bar-nav-nested-wrapper {
    text-align: center;
    padding-top: 10px;
}

.nav-item > button {
    margin-top: 5px;
}


.authorized-page-main-wrapper {
    width: 100%;
    height: 90%;
}

.authorized-page-main {
    width: 100%;
    height: 100%;
}

.authorized-page-footer-wrapper {
    width: 100%;
    height: 35px;
    background-color: #c2c4c5;
    border: 1px solid #c2c4c5;
    padding: 5px;
}

.authorized-page-footer {
    width: 100%;
    height: 100%;
    text-align: center;
    color: whitesmoke;
}