.login-form-wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.login-form {
    width: 100%;
    height: 100%;
}


.form-wrapper {
    height: 100%;
    width: 100%;
}

.form-wrapper form {
    margin: auto auto;
}

.form-extra-info-wrapper span {
    font-size: 15px;
}

.sign-up-link-wrapper {
    text-align: right;
}

.sign-up-link-wrapper a {
    text-decoration: none;
    color: #0062ff;
}