.login-form-wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.login-form {
    width: 100%;
    height: 100%;
}

.form-wrapper {
    height: 100%;
    width: 100%;
    
}

.form-wrapper form {
    
}

.form-wrapper .form-input {
    
}

.form-extra-info-wrapper span {
    font-size: 15px;
}

.sign-up-link-wrapper {
    text-align: right;
}